.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.error {
  border-color: #ff2222;
}
.example-full-width {
  width: 100%;
}

.btn-radius{
  border-radius: 25px;
    font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  }

.form-control{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}
.form-check{
  padding-left: 0px;
}

.form-check-input{
  margin-left: 20px;
  margin-top: 9px;
}