
label{    font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff; 
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-radius {
  border-radius: 10px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.myBtn{
  background-color:#448067;
}

.spanPatient {
  font-size:9px;
  margin-left:10px;
  position: fixed;
}

* .modal-content, .modal-body, .modal-header{  
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: #75d4e0
  
 }

*.form-select,#date, input {
  background-color:rgb(232, 240, 254);
  border-radius:10px;
}


.myForm input {
  border-radius: 10px;
}
.myForm {
  border-radius: 10px;
}
.form-control {
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  display: block;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 30px;
}
.form-check {
  padding-left: 0px;
}
.error {
  border-color: #ff2222;
}
.form-check-input {
  margin-left: 20px;
}
.form-check-input {
  margin-left: 17%;
}
.form-check-label {
  padding-left: 2.25rem;
  margin-bottom: 0;
}
