.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-radius {
  border-radius: 25px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.myForm input {
  border-radius: 10px;
}
.myForm {
  border-radius: 10px;
}
.form-control {
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  display: block;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 30px;
}
.form-check {
  padding-left: 0px;
}
.error {
  border-color: #ff2222;
}
.form-check-input {
  margin-left: 20px;
}
.form-check-input {
  margin-left: 17%;
}
.form-check-label {
  padding-left: 2.25rem;
  margin-bottom: 0;
}
