<!DOCTYPE html>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Fiscal Code</th>
      <th scope="col">Birth's Day</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Has Covid</th>
    </tr>
  </thead>
  <tbody *ngFor="let patient of patients">
    <tr>
      <th scope="row">{{ patient.patient_id }}</th>
      <td>{{ patient.name }}</td>
      <td>{{ patient.fiscal_code }}</td>
      <td>{{ patient.dob }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.hasCovid }}</td>
      <button
        type="button"
        class="btn btn-primary"
        (click)="openModal(editProfileModal, patient)"
      >
        Edit
      </button>
    </tr>
  </tbody>
</table>

<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Patient</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            id="email"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="dob" class="col-sm-4 col-form-label">Date of birth</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="dob"
            id="dob"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="hasCovid" class="col-sm-4 col-form-label">has Covid</label>
        <div class="col-sm-8">
          <input
            type="checkbox"
            class="form-control"
            formControlName="hasCovid"
            id="hasCovid"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>
