<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="mb-4" style="max-width: 450px">
      <h1 class="text-center">Log In</h1>
      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping" style="width: 120px"
          >Username</span
        >
        <input
          [(ngModel)]="username"
          type="text"
          class="form-control"
          placeholder="username"
          aria-label="username"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping" style="width: 120px"
          >Password</span
        >
        <input
          [(ngModel)]="password"
          type="password"
          class="form-control"
          placeholder="password"
          aria-label="password"
        />
      </div>
      <button type="button" class="btn btn-primary mt-4" (click)="logIn()">
        Log In
      </button>
    </div>
  </div>
</div>
