.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.error {
  border-color: #ff2222;
}
.example-full-width {
  width: 100%;
}

.btn-radius{
  border-radius: 25px;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}