<div class="mat-elevation-z8">
  <mat-form-field appearance="outline">
    <mat-label>Select Date Range</mat-label>

    <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
      <input matStartDate placeholder="Start Date" formControlName="start" />
      <input matEndDate placeholder="End Date" formControlName="end" />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button (click)="getSwabsByDate()">Change date</button>
  <app-swab-add></app-swab-add>
  <table class="col-12">
    <thead class="table">
      <tr>
        <th *ngFor="let day of daysSelected">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <td *ngFor="let dayContent of daysSelectedContent">
        <div *ngFor="let swab of dayContent" class="card">
          <h3>Team {{ swab.team_id }} - type: {{ swab.type }}</h3>
          <p><i class="fas fa-clock"></i>{{ swab.date.substring(10, 16) }}</p>
          <p>{{ swab.name }}</p>
          <p><i class="fas fa-house-user"></i>{{ swab.address }}</p>
          <p><i class="fas fa-phone"></i>{{ swab.phone }}</p>
          <p>
            Done :
            <i
              [ngClass]="[swab.done ? 'far fa-check-circle' : 'fas fa-times']"
            ></i>
          </p>
        </div>
      </td>
    </tbody>
  </table>
</div>
