<div class="mat-elevation-z8">
  <mat-form-field appearance="outline">
    <mat-label>Select Date Range</mat-label>

    <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
      <input matStartDate placeholder="Start Date" formControlName="start" />
      <input matEndDate placeholder="End Date" formControlName="end" />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button (click)="getSwabsByDate()" class="btn btn-success btn-radius">
    Change date
  </button>
  <app-swab-add></app-swab-add>
  <table class="col-12">
    <caption class="caption">
      <div class="m-1 col-2 border_team1">Team 1</div>
      <div class="m-1 col-2 border_team2">Team 2</div>
      <div class="m-1 col-2 border_team3">Team 3</div>
      <div>
        Rapid Swab : <i class="fas fa-registered"></i> Molecular Swab:
        <i class="fas fa-vial"></i>
      </div>
    </caption>
    <thead class="table">
      <tr>
        <th *ngFor="let day of daysSelected">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <td *ngFor="let dayContent of daysSelectedContent">
        <div
          *ngFor="let swab of dayContent"
          class="card border_team{{ swab.team_id }}"
          (click)="openModal(editSwabModal, swab)"
        >
          <p>
            <i class="fas fa-clock"></i>{{ swab.date.substring(10, 16) }} -
            <i
              [ngClass]="[
                swab.type === 'rap' ? 'fas fa-registered' : 'fas fa-vial'
              ]"
            ></i>
          </p>
          <p>{{ swab.name }}</p>
          <p><i class="fas fa-house-user"></i>{{ swab.address }}</p>
          <p><i class="fas fa-phone"></i>{{ swab.phone }}</p>
          <p>
            Done :
            <i
              [ngClass]="[swab.done ? 'far fa-check-circle' : 'fas fa-times']"
            ></i>
          </p>
        </div>
      </td>
    </tbody>
  </table>
</div>
<ng-template #editSwabModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Swab</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editSwabForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <select
          formControlName="team_id"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" selected disabled>Team</option>
          <option value="1">Pappalardo - Sambataro</option>
          <option value="2">Zappulla - Troina</option>
          <option value="3">Prestifilippo - Del Pozzo</option>
        </select>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="done"> Done </label>
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="done"
          value=""
          id="flexCheckDefault"
        />
      </div>
      <div class="mb-3">
        <select
          formControlName="type"
          class="form-select"
          aria-label="swab type"
        >
          <option value="" selected disabled>Swab type</option>

          <option value="mol">Molecular</option>
          <option value="rap">Rapid</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date and time</label>
        <input
          formControlName="date"
          type="date"
          class="form-control"
          id="date"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-radius"
          (click)="modal.dismiss()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-success btn-radius">
          Save changes
        </button>
      </div>
    </form>
    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>

    <h1>{{ message }}</h1>

    <button class="btn btn-danger btn-radius" (click)="onDelete()">
      Delete
    </button>
  </div>
</ng-template>
