<div class="mat-elevation-z8">
  <table class="col-12">
    <thead class="table">
      <tr>
        <th *ngFor="let day of daysSelected">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <td *ngFor="let dayContent of daysSelectedContent">
        <div *ngFor="let swab of dayContent" class="card">
          <h3>Team {{ swab.team_id }} - type: {{ swab.type }}</h3>
          <p>{{ swab.date.substring(10, 16) }}</p>
          <p>patient :{{ swab.patient_id }}</p>
          <p>
            Done :
            <i
              [ngClass]="[swab.done ? 'far fa-check-circle' : 'fas fa-times']"
            ></i>
          </p>
        </div>
      </td>
    </tbody>
  </table>
</div>
