table {
  width: 100%;
  border-radius: 10px;
}
.fa-check-circle {
  color: green;
}
.fa-times {
  color: red;
}

.table-swab {
  height: 800px;
  width: 1000px;
}
.mytbody {
  vertical-align: baseline !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.component-style {
  border-radius: 10px;
}

.component-style {
  border-radius: 10px;
}

.card {
  min-width: 200px;
  max-width: 250px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.border_team1 {
  background: rgba(199, 37, 37, 0.5);
}
.border_team2 {
  background: rgba(53, 51, 184, 0.5);
}
.border_team3 {
  background: rgba(81, 192, 77, 0.5);
}
.border_team4 {
  background: rgba(200, 202, 62, 0.5);
}
.btn-radius {
  border-radius: 25px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}
.error {
  border-color: #ff2222;
}
.form-check-label {
  padding-left: 14px;
}

.templateTable {
  border-radius: 10px;
}

ngb-timepicker {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.myForm {
  border-radius: 10px;
}

.myForm {
  border-radius: 10px;
}

.card {
  padding: 5%;
  transform: translateY(0rem);
  transition: transform 0.5s ease 0s;
}
.card:hover {
  cursor: pointer;
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: 0 10px 19px 1px rgba(71, 193, 191, 0.2);
  transition: transform 0.5s ease 0s;
}
.form-check-input {
  margin-left: 0px;
  left: 177px;
}
.form-check-label {
  padding-left: 14px;
}
