
label{    font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff; 
}

.spanPatient {
  font-size:9px;
  margin-left:10px;
  position: fixed;
}

table {
  width: 100%;
  border-radius:10px;
}

.myBtn{
  background-color:#448067;
}


* .modal-content, .modal-body, .modal-header{  
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: #75d4e0
  
 }

 *.form-select,#date, input {
   background-color: rgb(232, 240, 254);
   border-radius:10px;
 }
.btn-radius {
  border-radius: 10px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.btn-edit {
  border-radius: 25px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}
.error {
  border-color: #ff2222;
}
.form-check-input {
  margin-left: 0px;
  left: 177px;
}
.form-check-label {
  padding-left: 14px;
}

.patient_row:hover {
  cursor: pointer;
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: 0 10px 19px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease 0s;
}

.myForm input{border-radius:10px}